@font-face {

    font-family: 'Bahnschrift';
    src: url(/fonts/BAHNSCHRIFT.TTF);


}

:root {

    /* COLORS */

    --blanco-corp: #f3f5f7;
    --azul-corp: #001B2E;
    --rojo-corp: #CC0000;
    --amarillo-corp: #FF9900;
    --verde-corp: #294C60;
    --gris_corp: #ADB6C4;

    /* FONTS */
    --titulo: 'Bahnschrift';
    --texto: 'Roboto';
}


.navbar-bg {
    background-color: var(--gris_corp);
}

.bg-page {

    background-color: var(--blanco-corp);
}

.heading {
    background-color: var(--azul-corp);
    font-family: var(--titulo);
    font-size: 28px;
    color: var(--blanco-corp);
}

.topic,
.topic a {

    color: var(--azul-corp);
    text-decoration-line: none;
}

/* Hamburguer menu */
.offcanvas-body {

    font-size: xx-large;

}

.offcanvas {

    background-color: var(--fondo);
    font-size: xx-large;

}

ul {

    list-style-type: none;
    text-decoration-line: none;
}

.offcanvas-title {

    font-size: xx-large;

}



/* all buttons */
.btn.btn-amarillo {

    background-color: var(--amarillo-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

.btn.btn-delete {

    background-color: var(--rojo-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

.btn.btn-publish {

    background-color: var(--azul-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

/* CARDS */

.card-text {

    font-family: var(--texto);
    font-size: 12px;

}

.card-title {


    font-family: var(--titulo);
    font-size: 18px;

}


/* Carousel black arrows */
.carousel-control-next-icon,
.carousel-control-prev-icon {

    filter: invert();

}

/* UD4 ACTIVITY 1 */

[name*="avatar"]{


    opacity: 0.5;


}

[name*="avatar"]:hover{

    opacity: 1;


}

[name*="avatar"]:hover{

    opacity: 1;


}
/* Quitar punto selector  */
input[type="radio"] {
    display: none;
}


[type="radio"]:checked + label > img {
    opacity: 1;
    
    
}
[type="radio"]:checked ~ #avatar2 {
    /* display: none; */
    opacity: 1;

}