@font-face {

    font-family: 'Bahnschrift';
    src: url(/fonts/BAHNSCHRIFT.TTF);


}

:root {

    /* COLORS */

    --blanco-corp: #f3f5f7;
    --azul-corp: #001B2E;
    --rojo-corp: #CC0000;
    --amarillo-corp: #FF9900;
    --verde-corp: #294C60;
    --gris_corp: #ADB6C4;

    /* FONTS */
    --titulo: 'Bahnschrift';
    --texto: 'Roboto';
}


.navbar-bg {
    background-color: var(--gris_corp);
}

.bg-page {

    background-color: var(--blanco-corp);
}

.heading {
    background-color: var(--azul-corp);
    font-family: var(--titulo);
    font-size: 28px;
    color: var(--blanco-corp);
}

.topic,
.topic a {

    color: var(--azul-corp);
    text-decoration-line: none;
}

/* Hamburguer menu */
.offcanvas-body {

    font-size: xx-large;

}

.offcanvas {

    background-color: var(--fondo);
    font-size: xx-large;

}

ul {

    list-style-type: none;
    text-decoration-line: none;
}

.offcanvas-title {

    font-size: xx-large;

}



/* all buttons */
.btn.btn-amarillo {

    background-color: var(--amarillo-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

.btn.btn-delete {

    background-color: var(--rojo-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

.btn.btn-publish {

    background-color: var(--azul-corp);
    border-radius: 0px;
    font-family: var(--texto);
}

/* CARDS */

.card-text {

    font-family: var(--texto);
    font-size: 12px;

}

.card-title {


    font-family: var(--titulo);
    font-size: 18px;

}


/* Carousel black arrows */
.carousel-control-next-icon,
.carousel-control-prev-icon {

    filter: invert();

}

/* UD4 ACTIVITY 1 */


/* Hide radio selector  */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* Create transparence images */
[name*="avatar"] {
    opacity: 0.25;
}

/* Delete transparece on mouse hover */
[name*="avatar"]:hover {
    opacity: 1;
    transition-duration: 1s;
}

/* hide reset button since an avatar is selected */
#reset-btn {

    display: none;

}


/* HIDE NOT CHECKED IMAGES */

    /* AVATAR 1 */

/* Delete transparency in avatar 1 */
input[value="1"]:checked~label>#avatar-img1 {
    opacity: 1;
}

/* Hide others avatars */
input[value="1"]:checked~label>#avatar-img2,
input[value="1"]:checked~label>#avatar-img3 {
    display: none;

}
/* Show reset button */
input[value="1"]:checked~div>#reset-btn {
    display: block;
}


    /* AVATAR 2 */

/* Delete transparency in avatar 2 */
input[value="2"]:checked~label>#avatar-img2 {
    opacity: 1;
}
/* Hide others avatars */
input[value="2"]:checked~label>#avatar-img1,
input[value="2"]:checked~label>#avatar-img3 {
    display: none;
}

/* Show reset button */
input[value="2"]:checked~div>#reset-btn {
    display: block;
}


    /* AVATAR 3 */

/* Delete transparency in avatar 3 */
input[value="3"]:checked~label>#avatar-img3 {
    opacity: 1;
}
/* Hide others avatars */
input[value="3"]:checked~label>#avatar-img1,
input[value="3"]:checked~label>#avatar-img2 {
    display: none;

}
/* Show reset button */
input[value="3"]:checked~div>#reset-btn {
    display: block;
}



/* Reset (show) hidden images after checked one of them */

input[name="reset"]:checked~label>#avatar-img1,
input[name="reset"]:checked~label>#avatar-img2,
input[name="reset"]:checked~label>#avatar-img3 {
    display: block;
}

/* Hide reset button */
input[name="reset"]:checked~label>#reset {

    visibility: hidden;
}