:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';
}


.card {

  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  border-color: var(--verde-corp);
  margin: 2px 2px;
  
}

p, .alert {
  /* margin-top: 45px; */
  font-size: 90px;
  display: none;


}

img {

  display: none;
  max-width: 200px;
  max-height: 200px;

}

#message {

  text-align: center;
  font-size: 30px;
  height: 50px;


}
