:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';
}

#panel{

  background-color: var(--azul-corp);
  padding: 50px;


}


.card {

  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  border-color: var(--verde-corp);
  margin: 2px 2px;
  background-image: url(img/LogoBloggIn_bgcards.png);
  background-repeat: no-repeat;
  background-position: center;
  
}

p {
  font-size: 90px;
  display: none;


}

img[num] {

  display: none;
  max-width: 200px;
  max-height: 200px;

}

#message {

  text-align: center;
  font-size: 30px;
  height: 50px;

}

.navbar-bg {
  background-color: var(--gris-corp);
  color: var(--azul-corp);
}

#player{

  background-color: var(--azul-corp);
  color: var(--blanco-corp);
}

/* ANIMATIONS */

@keyframes vibrate {
  0% {
      transform: rotateY(-5deg);
  }

  50% {
      transform: rotateZ(0deg) scale(1.5);
  }

  100% {
      transform: rotateZ(5deg);
  }
}

@keyframes flip {
  
  50% {
      transform: rotateY(90deg);
  }

  100% {
      transform: rotateY(0deg);
  }
}

@keyframes unflip {
  
  50% {
      transform: rotateY(-90deg);
  }

  100% {
      transform: rotateY(0deg);
  }


}

@keyframes vibratePanelError {
  0% {
      transform: rotateZ(-1deg);
  }

  50% {
      transform: rotateZ(0deg);
  }

  100% {
      transform: rotateZ(1deg);
  }
}




