/* VARIABLES */


.root {
    --fondoPostIt: #OD6EFD;
    --rojo-corp: #CC0000;
    --amarillo-corp: #FF9900;
    --verde-corp: #294C60;
}

#postIt {


    display: none;


}

#nav {

    /* min-height: 300px;
    max-width: 300px; */
}

input,
textarea {
    all: unset;

}

.postItTitle {


    font-size: 20px;


}

::placeholder {

    color: white;
    font-style: oblique;
}

textarea::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
    background: var(--fondoPostIt);
    /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--fondoPostIt);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid white;
    /* creates padding around scroll thumb */
}

.tasksContainer {


    min-height: 1000px;

}

.ui-dialog-titlebar {

    background-color:#CC0000;
    color: white;


}

.ui-dialog {

    
}

.ui-dialog-titlebar-close{

background-color: white;

}

#dialog-confirm{
    
    display: none;

    }


    .ui-dialog .ui-dialog-buttonpane{
    
    background-color:#CC0000;
    
    }

.bi{

    cursor: pointer;

}
#doing{

    background-color: #ff9900b2;

}

ul, li{

    list-style-type: none;
}

.card{

    border-width: 3px;
    border-radius: 0%;

}




/* ANIMATIONS */

@keyframes vibrate {
    0% {
        transform: rotateY(-5deg);
    }
  
    50% {
        transform: rotateZ(0deg);
    }
  
    100% {
        transform: rotateZ(5deg);
    }
  }

  @keyframes flip {
  
    50% {
        transform: rotateY(90deg);
    }
  
    100% {
        transform: rotateY(0deg);
    }
  }