#postIt {

    width: 250px;
    height: 200px;
    padding: 0.5em;
    display: none;


}

#nav {

    min-height: 300px;
    max-width: 300px;
}

.tasksContainers {


    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}