/* Tasks Lists height */
.tasksContainer {
    min-height: 1000px;
}


/* Delete inputs format */
input,
textarea {
    all: unset;
}

.postIt {

    background-color: transparent;

}

/* Title Post-It format */
.postItTitle {
    font-size: 20px;
}

/* Inputs placeholders */
.postItTitle::placeholder {
    color: white;
    font-style: oblique;
}

textarea::placeholder {
    color: black;
    font-style: oblique;
}

/* Post-It details scrollbar */
/* ------------------------------------------ */
textarea::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /* roundness of the scroll thumb */
    border: 1px solid black;
    /* creates padding around scroll thumb */
}

/* ------------------------------------------ */


/* Delete task dialog */
/* ------------------------------------------ */
.ui-dialog-titlebar {
    background-color: #CC0000;
    color: white;
}

.ui-dialog-titlebar-close {
    background-color: white;
}

#dialog-confirm {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #CC0000;
}

/* ------------------------------------------ */



/* Mouse pointer max & min Post-Its */
.bi {
    cursor: pointer;
}

/* Tasks list background  */
#doing {
    background-color: #ff9900e1;
}

#toDo {
    background-color: #cc0000b0;
}

#done {
    background-color: rgba(0, 128, 0, 0.548);
}

/* Delete default format lists */
ul,
li {
    list-style-type: none;
}

/* Post-Its style */
.card {
    border-width: 3px;
    border-radius: 0%;
}

.btn{

    border-radius: 0px;

}