@font-face {

    font-family: 'Bahnschrift';
    src: url(/fonts/BAHNSCHRIFT.TTF);


}

:root {

    /* COLORS */
    
    --blanco-corp: #f3f5f7;
    --azul-corp: #001B2E;
    --rojo-corp:#CC0000;
    --amarillo-corp:#FF9900;
    --verde-corp: #294C60;
    --gris_corp:#ADB6C4;

    /* FONTS */
    --titulo: 'Bahnschrift';
    --texto: 'Roboto';
    


}

.heading{

    font-family: var(--titulo);
    font-size: 28px;
    background-color: var(--azul-corp);
    color: var(--blanco-corp);

}


.navbar-bg {
    background-color: var(--gris_corp)
}


.bg-page {

    background-color: var(--blanco-corp);

}

.heading

a {
    font-family: var(--titulo);
    color: var(--azul-corp);
    text-decoration-line: none;
}

.offcanvas-body {

    font-size: xx-large;

}

.offcanvas {

    background-color: var(--fondo);
    font-size: xx-large;

}

ul {

    list-style-type: none;
}

.offcanvas-title {

    font-size: xx-large;

}

.btn, .form-control {

    border-radius: 0px;
    font-family: 'Roboto';
}

/* CARDS */

.card-text {
    
    font-family: var(--card_texto_font);
    font-size: var(--card_texto_size);
    
}

.card-title {
    
    
    font-family: var(--card_titulo_font);
    font-size: var(--card_titulo_size);
    
}

.topic {
    
    
    font-family: var(--topic_titulo_font);
    font-size: var(--topic_titulo_size);
    
}



h1, input{

    
    font-family: var(--card_titulo_font);
    
    
}

