#results {
  margin-top: 2em;
}

form label {
  display: inline-block;
  width: 30%;
}

.carousel-caption {

  background-color: rgba(255, 255, 255, 0.692);
  color: black;

}

.carousel-control-prev {

  color: black;
  /* background-color: bisque; */
}

.carousel-indicators button {

  color: black;


}

.carousel>.carousel-inner>.carousel-item>img {
  /* width: 1200px; */
  /* Yeap you can change the width and height*/
  /* height: 300px; */
}


.carousel-control-prev:hover,
.carousel-control-next:hover {


  background-color: #ef8d2c70;
  




}

.card{


  margin-inline-start: 150px;
  margin-inline-end: 150px;

}

a{

text-decoration: none;


}

.artistId{


  cursor: pointer;

}

/* .btn{

  color: #EF8C2C;
  border-color: #EF8C2C;

} */

.btn-indicator {


  background-color: none;
border-color: #EF8C2C;
  color:#EF8C2C;
  max-width: 200px;
  font-size: 14px;
}


.btn-indicator:focus{
border-color: #EF8C2C;

  background-color:#EF8C2C;
  color: white;
}
.btn-indicator:hover{
border-color: #EF8C2C;

  background-color:#EF8C2C;
  color: white;
}

.card{

  border: none;
}

#table-tracks th{

  color:#EF8C2C;





}

#bgetSearch_index{


  border-color: #EF8C2C;
  color: #EF8C2C;

}

.carousel-dark{

  background-color: dark;
  


}

.artistTrack:hover{


  cursor: pointer;

}

