:root{
  --orange_corp:#EF8C2C;
}

#results {
  margin-top: 2em;
}

form label {
  display: inline-block;
  width: 30%;
}

.carousel-caption {

  background-color: rgba(255, 255, 255, 0.692);
  color: black;

}

.carousel-control-prev {
  color: black;
}

.carousel-indicators button {
  color: black;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {

  background-color: var(--orange_corp);
  opacity: 25%;

}

.card{

  margin-inline-start: 150px;
  margin-inline-end: 150px;

}

a{
  text-decoration: none;
}


.btn-indicator {
  background-color: none;
  border-color: var(--orange_corp);
  color:var(--orange_corp);
  max-width: 200px;
  font-size: 14px;
}


.btn-indicator:focus{
  border-color: var(--orange_corp);
  background-color:var(--orange_corp);
  color: white;
}
.btn-indicator:hover{
  border-color:var(--orange_corp);
  background-color:var(--orange_corp);
  color: white;
}

.card{

  border: none;
}

#table-tracks th{

  color:var(--orange_corp);

}

#bgetSearch_index{

  border-color: var(--orange_corp);
  color: var(--orange_corp);

}

.carousel-dark{

  background-color: dark;

}

.artistTrack:hover, .albumTrack:hover, .artistId{

  cursor: pointer;

}



