/* COLORS */
/* FONTS */
.navbar-bg {
  background-color: #ADB6C4;
  color: #001B2E;
}

.bg-page {
  background-color: #f3f5f7;
}

.topic,
.topic a {
  color: #001B2E;
  text-decoration-line: none;
}
