// variables

/* COLORS */

$blanco-corp: #f3f5f7;
$azul-corp: #001B2E;
$rojo-corp: #CC0000;
$amarillo-corp: #FF9900;
$verde-corp: #294C60;
$gris-corp: #ADB6C4;

/* FONTS */
$titulo: 'Bahnschrift';
$texto: 'Roboto';

.navbar-bg {
    background-color: $gris-corp;
    color: $azul-corp;
}


.bg-page {

    background-color: $blanco-corp;
}

.topic,
.topic a {

    color: $azul-corp;
    text-decoration-line: none;
}