<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercici 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
</head>
<body>
    <div id="app">
        <h3>Enter an integer</h3>
        <input v-model="num" type="number">
        <input type="button" value="SEND" v-on:click="send()">
        <p v-if="error">
            <small >{{ error }}</small>
        </p >

        <Number v-for="n in numbers" :nombre="n" :key="n" v-on:clicked-number="numberSelected"></Number>

        <p v-if="selectedItem">
            <span>The number pressed is {{ selectedItem}}</span>
        </p >
    </div>

   
<script type="module" src="./vue.js"></script>
<style>
    body{
        text-align: center;
    }
    
    small{
        color: red;
    }
</style>
</body>
</html>
