
:root {

    /* COLORS */
  
    --blanco-corp: #f3f5f7;
    --azul-corp: #001B2E;
    --rojo-corp: #CC0000;
    --amarillo-corp: #FF9900;
    --verde-corp: #294C60;
    --gris-corp: #ADB6C4;
  
    /* FONTS */
    --titulo: 'Bahnschrift';
    --texto: 'Roboto';
  }

*{
margin: 0;
padding: 0;
font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
}

  
.image{

    display: flex;
    justify-content: center;

}



.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--gris-corp);
}

.menu>ul{
    
    list-style-type: none;
    flex: 50%;
}


.menu>div{
    flex: 50%;
    justify-content: flex-end;
}

.menu-element{

}

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  article{



  }