/* ------------------------------------------ */
/* FONTS */
/* ------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: "Bahnschrift";
  src: url(fonts/BAHNSCHRIFT.TTF);
}

/* ------------------------------------------ */
/* VARIABLES */
/* ------------------------------------------ */

:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';
  
}

/* ------------------------------------------ */
/* GENERAL CONFIGURATION */
/* ------------------------------------------ */

/* Skip general margins */
* {
  margin: 0;
  padding: 0;
  font-family: var(--texto);
}

main {
  display: flex;
  flex: 1;
  background-color: var(--blanco-corp);
}

h1{
  font-family: var(--titulo);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--amarillo-corp);
  text-decoration: underline;
}

li {
  list-style: none;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
  text-align: center;
}

/* button & input search*/
.menu>div>:not(#search) {
  background-color: var(--amarillo-corp);
  padding: 5px 10px;
  border: none;
}

#search {
  border: none;
  padding: 5px 10px;
}

/* Header menu */
.menu {
  background-color: var(--gris-corp);
  padding: 15px;
}

/* list menu */
.menu>ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu>ul>li {
  padding: 10px;
}

/* ------------------------------------------ */
/* ASIDE */
/* ------------------------------------------ */

aside {
  padding: 10px;
}

.list-group{
  padding: 10px;
  margin-top: 10px;
}

.list-group>ul{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  flex-wrap: wrap;
}

.list-group>strong{
  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  width: 100%;
  padding: 5px;
}

.menu2-element {
  padding: 8px;
}



/* ------------------------------------------ */
/* PRODUCTS SECTION */
/* ------------------------------------------ */

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
}


/* Filter Bar */
#products-filter {
  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  padding: 20px;
  position: sticky;
  top: 0;
}

article {
  display: inline-flex;
  flex-direction: column;
}

article>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* limit size to show almost 4 products on full screen */
img {
  max-width: 350px;
}

.product-name {
  font-weight: bold;
}

.item-details {
  margin-bottom: 5px;
}

/* Load more */

#load-more-products {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#load-more-products>button {

  background-color: var(--rojo-corp);
  color: var(--blanco-corp);
  padding: 10px 32px;
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

  footer{
    background-color: var(--gris-corp);
  }
  
  footer>ul>li{
    display: flex;
    justify-content: center;
  }

  footer>div{
    display: flex;
    justify-content: center;
  }

  /* Top button */
  #back-to-top {

    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: var(--amarillo-corp);
    padding: 10px 42px;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

@media (min-width: 1000px){

  main>div {
    display: flex;
    flex: 1;
  }

  /* button & input search*/
  .menu>div {
    position: absolute;
    top: 93px;
    right: 30px;
  padding: 0px;
  
  }

  aside {
    width: 200px;
    padding: 10px;
  }

  .menu2-element {
    padding: 3px;
    margin-left: 10px;
  }
  
  /* Change menu aside direction */
  .list-group>ul{
    flex-direction: column;
    }
  
}



