:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';
  
}

* {
  margin: 0;
  padding: 0;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

main {
  /* position: relative; */
  background-color: var(--blanco-corp);
}


.image {
  text-align: center;
}



.menu {
  text-align: center;
  background-color: var(--gris-corp);
}

.menu-element {
  display: inline-block;
}

.menu>div {
  position: absolute;
  top: 80px;
  right: 30px;
  
}
.menu>div>:not(#search) {
 
  background-color: var(--amarillo-corp);
  padding: 5px 10px;
  border: none;
  
}

#search{
  border: none;
  
  padding: 5px 10px;

}


a {
  text-decoration: none;
  color: black;
}

a:hover{

  color: var(--amarillo-corp);
  text-decoration: underline;

}

.menu-element {
  padding: 15px;
}

.list-group {

  margin-bottom: 15px;

}

.menu2-element {

  padding: 5px;


}


li {
  list-style: none;

}

#products-filter {

  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  padding: 20px;
  position: sticky;
  top: 0;
}

article {
  display: inline-block;
}

.footer {
  background-color: gray;
  text-align: center;
}

#load-more-products {
  text-align: center;
  padding: 30px;
}

#back-to-top {

  position: fixed;
  bottom: 80px;
  right: 80px;
  background-color: var(--amarillo-corp);
  padding: 10px 32px;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.product-name {

  font-weight: bold;
  display: block;

}

.item-details {
  margin-bottom: 5px;
}


#load-more-products>button {

  background-color: var(--rojo-corp);
  color: var(--blanco-corp);
  padding: 10px 32px;
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;



}



@media (min-width: 600px) {

  aside {
    width: 200px;
    padding: 10px;
    position: absolute;
    background-color: var(--blanco-corp);
    top: 120px;
    left: 0;
    bottom: 0;
  }

  section {

    margin-left: 220px;

  }



}