/* ------------------------------------------ */
/* FONTS */
/* ------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: "Bahnschrift";
  src: url(fonts/BAHNSCHRIFT.TTF);
}

/* ------------------------------------------ */
/* VARIABLES */
/* ------------------------------------------ */

:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';

}


/* ------------------------------------------ */
/* GENERAL CONFIGURATION */
/* ------------------------------------------ */

/* Skip general margins */
* {
  margin: 0;
  padding: 0;
  font-family: var(--texto);
}

main {
  position: relative;
  background-color: var(--blanco-corp);
}

h1{
  font-family: var(--titulo);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--amarillo-corp);
  text-decoration: underline;
}

li {
  list-style: none;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
  text-align: center;
}

/* button & input search*/
.menu>div {
  position: relative;
  padding: 10px;
}

.menu>div>:not(#search) {
  background-color: var(--amarillo-corp);
  padding: 5px 10px;
  border: none;

}

#search {
  border: none;
  padding: 5px 10px;
}

/* Header menu */
.menu {
  background-color: var(--gris-corp);
  padding: 15px;
}

.menu-element {
  display: inline-block;
  padding: 10px;
}

/* ------------------------------------------ */
/* ASIDE */
/* ------------------------------------------ */

aside {
  position: static;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: var(--blanco-corp);
}

.list-group {
  display: block;
  padding: 10px;
  margin-top: 10px;

}

.list-group>ul {
  margin-top: 5px;
}

.list-group>ul>li {
  display: inline-block;
}

.list-group strong {
  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  width: 100%;
  padding: 5px;
}

.menu2-element {
  padding: 3px;
}


/* ------------------------------------------ */
/* PRODUCTS SECTION */
/* ------------------------------------------ */

/* in mobile version, center product */
section>ul {
  text-align: center;
}

/* Filter Bar */
#products-filter {

  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  padding: 20px;
  position: sticky;
  top: 0;
}

article {
  display: inline-block;
}

.product-name {
  font-weight: bold;
  display: block;
}

.item-details {
  margin-bottom: 5px;
}

/* limit size to show almost 4 products on full screen */
img {
  max-width: 400px;
}

/* Load more */
#load-more-products {
  text-align: center;
  padding: 30px;
}

#load-more-products>button {
  background-color: var(--rojo-corp);
  color: var(--blanco-corp);
  padding: 10px 32px;
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}


/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

#back-to-top {

  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--amarillo-corp);
  padding: 10px 32px;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer {
  background-color: var(--gris-corp);
  text-align: center;
}


@media (min-width: 1000px)  {

  /* ------------------------------------------ */
  /* HEADER */
  /* ------------------------------------------ */

  .menu>div {
    position: absolute;
    top: 93px;
    right: 30px;
    padding: 0px;
  }

  .menu>div>:not(#search) {
    background-color: var(--amarillo-corp);
    padding: 5px 10px;
    border: none;
  }

  #search {
    border: none;

    padding: 5px 10px;

  }

  /* ------------------------------------------ */
  /* ASIDE */
  /* ------------------------------------------ */

  aside {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .list-group {
    margin-bottom: 25px;
    display: block;
  }

  .list-group>ul>li {
    display: block;
  }

  .menu2-element {
    margin-left: 10px;
  }

  /* ------------------------------------------ */
  /* PRODUCTS SECTION */
  /* ------------------------------------------ */

  section {
    margin-left: 220px;
  }
  
  section>ul {
    text-align: start;
  }


}