:root {

  /* COLORS */

  --blanco-corp: #f3f5f7;
  --azul-corp: #001B2E;
  --rojo-corp: #CC0000;
  --amarillo-corp: #FF9900;
  --verde-corp: #294C60;
  --gris-corp: #ADB6C4;

  /* FONTS */
  --titulo: 'Bahnschrift';
  --texto: 'Roboto';

}

* {
  margin: 0;
  padding: 0;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

main {
  position: relative;
  background-color: var(--blanco-corp);
}

header {
  text-align: center;
}


.menu {
  background-color: var(--gris-corp);
}

.menu-element {
  display: inline-block;
}

.menu>div {
  position: relative;
  padding: 10px;
}

.menu>div>:not(#search) {

  background-color: var(--amarillo-corp);
  padding: 5px 10px;
  border: none;

}

#search {
  border: none;

  padding: 5px 10px;

}


a {
  text-decoration: none;
  color: black;
}

a:hover {

  color: var(--amarillo-corp);
  text-decoration: underline;

}

.menu-element {
  padding: 12px;
}

nav>ul {

  margin-left: 0px;

}

.list-group {

  display: block;
  margin-bottom: 30px;

}

.list-group>ul {

  margin-top: 5px;


}

.list-group>ul>li {

  display: inline-block;

}

.list-group strong {

  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  width: 100%;
  padding: 5px;

}

.menu2-element {
  padding: 3px;
}


li {
  list-style: none;
}

#products-filter {

  background-color: var(--verde-corp);
  color: var(--blanco-corp);
  padding: 20px;
  position: sticky;
  top: 0;
}

article {
  display: inline-block;
}

.footer {
  background-color: gray;
  text-align: center;
}

#load-more-products {
  text-align: center;
  padding: 30px;
}

#back-to-top {

  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--amarillo-corp);
  padding: 10px 32px;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.product-name {
  font-weight: bold;
  display: block;
}

.item-details {
  margin-bottom: 5px;
}


#load-more-products>button {

  background-color: var(--rojo-corp);
  color: var(--blanco-corp);
  padding: 10px 32px;
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;



}

img {

  max-width: 400px;
}

aside {
  position: static;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: var(--blanco-corp);
}

section>ul {

  text-align: center;

}



@media (min-width: 1000px)  {

  aside {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  section {

    margin-left: 220px;

  }

  .list-group {

    margin-bottom: 25px;
    display: block;

  }

  .list-group>ul>li {

    display: block;

  }



  section>ul {

    text-align: start;

  }

  .menu2-element {
    margin-left: 10px;
  }

  .menu>div {
    position: absolute;
    top: 80px;
    right: 30px;
    padding: 0px;


  }

  .menu>div>:not(#search) {

    background-color: var(--amarillo-corp);
    padding: 5px 10px;
    border: none;

  }

  #search {
    border: none;

    padding: 5px 10px;

  }


}